.App {
 width: 500px;
 
 margin: auto;
}

form {
  display: grid;
  grid-template-areas: 
  "column1 column2"
  "lastRow lastRow";
  margin-top: 10%;
  background-color: pink;
  height: 500px;
  padding-top: 5%;
  line-height: 50px;
  border-radius: 15px;
}
label {
  padding: 5%;

}
input{
  padding: 5%;
  border-radius: 10px;
  border: none;
}
button {
  background-color: pink;

}
.column1 {
  grid-area: column1;
  margin-left: 8%;
}

.column2 {
  grid-area: column2;
  margin-right: 8%;
}

.lastRow {
  grid-area: lastRow;
  margin-left: 20%;
}

.submit {
  height: 40px;
  width: 70px;
  margin: auto;
}

img {
  height: 50px;
  margin-left: 20%;
}