body {
  background-color: whitesmoke;
}
.App {
  display: grid;
  grid-template-areas: "sideBar form";
  grid-template-columns: 1fr 2fr;
  width: 800px;
  margin: auto;
  
}

.sideBar {
  background-image: url('./assets/images/nathalie-spehner-wG7CL2qdraM-unsplash.jpg');
  background-size: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.form h1 {
  font-size: 20px;
}
.form {
  grid-area: form;
  display: grid;
  grid-template-areas: 
  "header header"
  "column1 column2"
  "lastRow lastRow";
  background-color: #861657;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
  /* height: 500px; */
  /* width: 600px; */
  padding-top: 5px;
  line-height: 50px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
label {
  padding: 5%;

}
input{
  padding: 5%;
  border-radius: 10px;
  border: none;
}
button {
  background-color: pink;

}
.header {
  grid-area: header;
}
.column1 {
  grid-area: column1;
  padding: 10px;
}

.column2 {
  grid-area: column2;
 
}

.lastRow {
  grid-area: lastRow;
  text-align: center;
  
}

.submit {
  height: 40px;
  width: 70px;
  
}

img {
  height: 50px;
  
}